{% block navbar %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Latam Analytica</title>
    <meta name="description" content="Latam Analytica Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{ url_for('static',filename='images/logodashboard.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logodashboard.png') }}">
    <!-- Css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/themify-icons.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-title">Procesos de Datos</li> 
                    <li>
                        <a class="transformacion" href="{{ url_for('transformacion') }}"><i class="menu-icon fa fa-cogs"></i>Transforma </a>
                    </li>
                    <li>
                        <a class="prediccion" href="{{ url_for('prediccion') }}"><i class="menu-icon fa fa-magic"></i>Predice</a>
                    </li>
                    <li>
                        <a class="visualizacion" href="{{ url_for('visualizacion') }}"><i class="menu-icon fa fa-bar-chart"></i>Visualiza </a>                       
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/inicio">
				<img style="max-height: 40px;" src= "{{ url_for('static',filename='images/logodashboard.png') }}">
                                LATAM ANALYTICA
                    </a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                  
                    <div class="user-area dropdown float-right">
                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-power -off"></i>Cerrar Sesión</a>
                    </div>

                </div>
            </div>
        </header>
        <div class="content" >
            {% block contenido %}

            {% endblock %}
        </div> 
    </div>
    <!-- /#right-panel -->
   
    <!-- Scripts -->

    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.matchHeight.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/fontawesome.min.js"></script>
    <script>
      jQuery(document).ready(function () {
	    var url = window.location.href;
            if (url.indexOf("transformacion") > -1) {
               jQuery('a.prediccion').removeClass('active');
               jQuery('a.visualizacion').removeClass('active');
               jQuery('a.transformacion').addClass('active'); 
            }
            if ((url.indexOf("prediccion") > -1) || (url.indexOf("resultados") > -1)) {
               jQuery('a.transformacion').removeClass('active');
               jQuery('a.visualizacion').removeClass('active');
               jQuery('a.prediccion').addClass('active'); 
            }
            if (url.indexOf("visualizacion") > -1) {
               jQuery('a.transformacion').removeClass('active');
               jQuery('a.prediccion').removeClass('active');
               jQuery('a.visualizacion').addClass('active'); 
            }
       });
    </script>   
</body>
</html>
{% endblock %}
