<html>

<head>
  <title>Latam Analytica - Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
{% extends "base.html" %}

{% block contenido %}
<div class="container">
  <iframe width="1000" height="900" src="https://datastudio.google.com/embed/reporting/2cb611e6-c121-4289-bf2e-b3e82368292d/page/a72VB" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock %}


</div>
<br>
</div>
</div>
</body>

</html>