<html>

<head>
  <title>Latam Analytica</title>
</head>
{% extends "base.html" %}

{% block contenido %}

  <!-- Card -->
  <div class="card card-image backtable">

    <!-- Content -->
    <div class="rgba-black-strong py-5 px-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8">
          <center>
            <img src="{{ url_for('static',filename='images/computer.png') }}" >
            <br>
            <h3>Bienvenid@!. Nos alegra verte por aquí &#128522;</h3>
            <br>
            <h4>Para actualizar la información de tus datos <br>puedes realizarla a través de <b>3 sencillos</b> pasos!</h4>
            <br>
          </center>
		<div class="card-group">
		  
		  <div class="card" style="width: 18rem;">
			  <img src="{{ url_for('static',filename='images/transforma.gif') }}" alt="Transforma" style="max-height: 300px;">
			  <div class="card-body">
			    <h3 class="card-title"><center><b>Transforma</b></center></h3>
		            <p class="card-text"><center>Para la información más reciente, descarga tu archivo con la transformación de los datos.</center></p>
			  </div>
			  <div class="card-body">
			    <center><a class="btn btn-success" href="{{ url_for('transformacion') }}" role="button">Ingresa</a></center>
			  </div>
		 </div>

		  <div class="card" style="width: 18rem;">
                          <br><br>
			  <img src="{{ url_for('static',filename='images/predice.gif') }}" alt="Predice" style="max-height: 300px;">
			  <div class="card-body">
                            <br>
			    <h3 class="card-title"><center><b>Predice</b></center></h3>
		            <p class="card-text"><center>Procesa o sube tu archivo e inicia el proceso de predicción de tus datos.</center></p>
			  </div>
			  <div class="card-body">
			    <center><a class="btn btn-success" href="{{ url_for('prediccion') }}" role="button">Ingresa</a></center>
			  </div>
		 </div>

		  <div class="card" style="width: 18rem;">
                          <br><br><br>
			  <img src="{{ url_for('static',filename='images/grafica.gif') }}" alt="Visualiza" style="max-height: 300px;">
			  <div class="card-body">
                            <br><br>
			    <h3 class="card-title"><center><b>Visualiza</b></center></h3>
		            <p class="card-text"><center>Detalla un análisis más detallado de tus resultados.</center></p>
			  </div>
			  <div class="card-body">
			    <center><a class="btn btn-success" href="{{ url_for('visualizacion') }}" role="button">Ingresa</a></center>
			  </div>
		 </div>

		  </div>
	</div>	  	
        </div>
      </div>
    </div>
  {% endblock %}


</div>
<br>
</div>
</div>
</body>

</html>
