<!DOCTYPE html>
<html lang="en">
<head>
	<title>Latam Analytica</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/material-design-iconic-font.min.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/animate.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
</head>
<body>
	
	<div class="limiter">
		
		<div class="container-login100" style="background-image: url('static/images/background_login.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="" method="post" role="form">
					<span class="login100-form-logo">
						<i><img src="{{url_for('static', filename='images/logo.png')}}" style="border-radius: 35%;" width="100px" /></i>
					</span>
					<br>
					<div class="wrap-input100 validate-input" data-validate = "Ingrese usuario">
						<input class="input100" type="text" id="username"  name="username" placeholder="Usuario">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Ingrese password">
						<input class="input100" type="password" id="password" name="password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

				</form>

				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
			
				{% for message in messages %}
				{% if "Error" not in message[1]: %}
				<br><br><br>
				<div class="alert alert-info">
				  <strong> </strong> {{ message[1] }}
				</div>
				{% endif %}
			
				{% if "Error" in message[1]: %}
				<br><br><br>
				<div class="alert alert-danger">
				  {{ message[1] }}
				</div>
				{% endif %}
				{% endfor %}
				{% endif %}
				{% endwith %}	
			</div>
		</div>
				
	</div>
	
	<br>

	

	<div id="dropDownSelect1"></div>
	<script src= "{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
	<script src= "{{ url_for('static',filename='js/popper.js') }}"></script>
	<script src= "{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<script src= "{{ url_for('static',filename='js/login.js') }}"></script>

</body>
</html>
