<html>

<head>
  <title>Latam Analytica</title>
</head>
{% extends "base.html" %}

{% block contenido %}
  <!-- Card -->
  <div class="card card-image backtable">
    <div class="rgba-black-strong py-5 px-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8">
                <center><img src="{{ url_for('static',filename='images/predice.gif') }}" alt="Predice" style="max-height: 200px;"></center>
                <div class="card-group">
			  <div class="card" style="width: 18rem;">
				  <div class="card-body">
				    <h3 class="card-title"><center><b>Predice</b></center></h3><br><br>
                                    <h4 class="card-title"><center>Selecciona una de las siguientes opciones y presione el botón de Predecir:</center></h4><br><br> 
                                    <div id="buttonradio">
					    <label class="radioinactive"><input type="radio" id="servidor" name="toggle" style="visibility:hidden"><span>Deseo predecir los resultados almacenados en el servidor</span></label>
					    <label class="radioinactive"><input type="radio" id="archivo" name="toggle" style="visibility:hidden"><span>Deseo subir el archivo</span></label>
				    </div>
                                    <form class="formulario" method=post enctype=multipart/form-data> 
                                            <center>
                                            <div id="opcionsubida">  
						    <div class="boton file btn btn-lg btn-warning">
							Selecciona el Archivo
							<input class="boton" type="file" name="file"/>		                                        
						    </div>
					    </div>
                                            </center>
                                            <br><br>
                                            <center><button type="submit" class="btn btn-success">Predecir</button></center>
                                    </form> 
                                    
	                        {% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
			
				{% for message in messages %}
				{% if "Error" in message[1]: %}
				<br><br><br>
				<div class="alert alert-danger">
				  {{ message[1] }}
				</div>
				{% endif %}
				{% endfor %}
				{% endif %}
				{% endwith %}			    
				  </div>
			 </div>
		</div>
        </div>
      </div>
    </div>

    <style>
    div.boton {
	  position: relative;
	  overflow: hidden;
    }
    input.boton {
	  position: absolute;
	  font-size: 25px;
	  opacity: 0;
	  right: 0;
	  top: 0;
    }
    </style>
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/sweetalert2.js') }}"></script>
    <script>
      jQuery(document).ready(function () {

            jQuery("#servidor").prop('checked', true);
            jQuery("#archivo").prop('checked', false);
            jQuery('#opcionsubida').hide();

            jQuery(document).on('submit','form.formulario',function(){
      		Swal.fire({
		  icon: 'info', 
		  title: 'Espere por favor mientras se redirecciona hacia la página de resultados',
		  showConfirmButton: false,
		  timer: 4000
		})
	    });

            jQuery('#servidor').on( 'change', function() {
               if ($('#servidor').is(':checked')) {
		        jQuery('#opcionsubida').hide();
                        jQuery("#archivo").prop('checked', false);
		} else {
		        $('#opcionsubida').show();
                        jQuery("#archivo").prop('checked', true);  
		}
	    });

            jQuery('#archivo').on( 'change', function() {
               if ($('#archivo').is(':checked')) {
		        jQuery('#opcionsubida').show();
                        jQuery("#servidor").prop('checked', false);
		} else {
		        $('#opcionsubida').hide();
                        jQuery("#servidor").prop('checked', true);
		}
	    });

       });
    </script>
  {% endblock %}


</div>
<br>
</div>
</div>
</body>

</html>
