<html>

<head>
  <title>Latam Analytica</title>
</head>
{% extends "base.html" %}

{% block contenido %}
  <!-- Card -->
        <div class="card card-image backtable">
            <div>
                <div class="row d-flex justify-content-center">
                <div class="col-xs-10 col-md-10" style="background-color:#fff">
                        <br>
                        <center><img src="{{ url_for('static',filename='images/results.png') }}" alt="Transforma" style="max-height: 300px;"></center>
                        <br>
                        <center><h3>Resultado de la predicción</h3></center>
                        <br>
                        <div class="float-right">
                            <a class="btn btn-success" href="{{ url_for('descargarresultados') }}" role="button">Descargar CSV</a>   
                        </div> 
                        <br><br>        
                        <div class="card-group">
                            <div class="content" >

                                                <p>Cantidad de registros procesados: {{ shape }}</p>
                                                <center>
                                            {{ pagination.links }}
                                            <div class="table-responsive" style="overflow-x:auto;">
                                            <table class="table table-hover" style="background-color:#fff; overflow-x:auto;">
                                            <thead>
                                                <tr>
                                                <th>#</th>
                                                <th>Usuario</th>
                                                <th><center>Predicción de Compra</center></th>
                                                <th><center>Recencia</center></th>
                                                <th><center>Frecuencia</center></th>
                                                <th><center>Money (CLP)</center></th>
                                                <th><center>DayDiff</center></th>
                                                <th><center>DayDiff2</center></th>
                                                <th><center>DayDiff3</center></th>
                                                <th><center>Media DayDiff</center></th>
                                                <th><center>Desviación DayDiff</center></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in users %}
                                                <tr>
                                                <td>{{ loop.index + (page - 1) * per_page }}</td>
                                                <td class="usuario" style="font-size:85%">{{ user['user_id'] }}</td>
                                                {%if user['prediccion'] == 'entre 0 a 15 días' %}
                                                    <td><center><span class ="badge badge-success" style="font-size:100%">{{ user['prediccion'] }}</span></center></td>
                                                {%endif%}
                                                {%if user['prediccion'] == 'entre 16 a 30 días' %}
                                                    <td><center><span class ="badge badge-warning" style="font-size:100%">{{ user['prediccion'] }}</span></center></td>
                                                {%endif%}
                                                {%if user['prediccion'] == 'mayor a 30 días' %}
                                                    <td><center><span class ="badge badge-danger" style="font-size:100%">{{ user['prediccion'] }}</span></center></td>
                                                {%endif%}
                                                <td><center>{{ user['Recency'] }}</center></td>
                                                <td><center>{{ user['Frequency'] }}</center></td>
                                                <td><center>{{ user['Revenue'] }}</center></td>
                                                <td><center>{{ user['DayDiff'] }}</center></td>
                                                <td><center>{{ user['DayDiff2'] }}</center></td>
                                                <td><center>{{ user['DayDiff3'] }}</center></td>
                                                <td><center>{{ user['DayDiffMean'] }}</center></td>
                                                <td><center>{{ user['DayDiffStd'] }}</center></td>  
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            </table>
                                            </div>
                                            {{ pagination.links }}
                                                </center>

                            <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
                            </div>
                        </div>
                </div>
                </div>
            </div>
            <div class="rgba-black-strong">
                <div class="row d-flex justify-content-center">
                    <div class="col-xs-10 col-md-10" style="background-color:#fff">                
                        <div class="card-group">
                            <div class="card"> 
                                <div class="card-body">
                                <h5 class="card-text"><center>Si lo deseas, puedes continuar al proceso de visualización seleccionando el botón</center></h5><br><br>
                                <center><a class="btn btn-primary" href="{{ url_for('visualizacion') }}" role="button">Continuar</a></center>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>                        
            </div>
        </div>    
   
  <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
  <script>
	jQuery(document).ready(function () {
        var width = $(window).width();
        if (width < 700) {
           jQuery('#right-panel').css( "width", width);    
           jQuery('#right-panel').css( "margin-left", 0);
           jQuery('.usuario').css( "font-size", '10px');
        } else {
           jQuery('#right-panel').css({'width': '88%'});   
           jQuery('#right-panel').css( "margin-left", '280px'); 
        }        
      $( window ).resize(function() {    
	     var width = $(window).width();
	     if (width < 700) {
		    jQuery('#right-panel').css( "width", width);    
		    jQuery('#right-panel').css( "margin-left", 0);
		    jQuery('.usuario').css( "font-size", '10px');
	     } else {
            jQuery('#right-panel').css({'width': '88%'});     
            jQuery('#right-panel').css( "margin-left", '280px'); 
         }
      });  
	 });
  </script>  
  {% endblock %}


</div>
<br>
</div>
</div>
</body>

</html>


