<html>

<head>
  <title>Latam Analytica</title>
</head>
{% extends "base.html" %}

{% block contenido %}

  <!-- Card -->
  <div class="card card-image backtable">

    <!-- Content -->
    <div class="rgba-black-strong py-5 px-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8">
                <center><img src="{{ url_for('static',filename='images/transforma.gif') }}" alt="Transforma" style="max-height: 300px;"></center>
		<div class="card-group">
			  <div class="card" style="width: 18rem;">
				  
				  <div class="card-body">
				    <h2 class="card-title"><center><b>Transforma</b></center></h2><br><br>
				    <h3 class="card-text"><center>Presiona el botón para la descarga de tus datos.</center></h3><br><br>
				    <center><a class="btn btn-success" href="{{ url_for('descargardatos') }}" role="button">Descargar</a></center>
				  </div>
			 </div>
		</div>
		<div class="card-group">
			  <div class="card" style="width: 18rem;"> 
				  <div class="card-body">
				    <h5 class="card-text"><center>Si lo deseas, puedes continuar al proceso de predicción seleccionando el botón</center></h5><br><br>
				    <center><a class="btn btn-primary" href="{{ url_for('prediccion') }}" role="button">Continuar</a></center>
				  </div>
			 </div>
		</div>
	</div>	  	
        </div>
      </div>
    </div>
  {% endblock %}


</div>
<br>
</div>
</div>
</body>

</html>
