<html>

<head>
  <title>Latam Analytica</title>
</head>
{% extends "base.html" %}

{% block contenido %}
<div>
  <iframe 
    src="https://app.powerbi.com/view?r=eyJrIjoiMDViNzcyOWEtMzc3Zi00ODAwLTk5N2MtOWFlODUzZWQ5NjM3IiwidCI6ImY2MzBhYTZhLWRmMTYtNDMwOC04MmUzLTBhNTU5MGRmYTZiNyIsImMiOjR9"
    width="100%"
    height="800"
    frameborder="0"
  >
  </iframe>
</div>
{% endblock %}

<style>
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
</style>
</div>
<br>
</div>
</div>
</body>

</html>
